[submodule "jquery-next-id"]
	path = jquery-next-id
	url = https://github.com/ianmcburnie/jquery-next-id.git
[submodule "jquery-focus-exit"]
	path = jquery-focus-exit
	url = https://github.com/ianmcburnie/jquery-focus-exit.git
[submodule "jquery-common-keydown"]
	path = jquery-common-keydown
	url = https://github.com/ianmcburnie/jquery-common-keydown
[submodule "jquery-common-keys"]
	path = jquery-common-keys
	url = https://github.com/ianmcburnie/jquery-common-keys.git
[submodule "jquery-roving-tabindex"]
	path = jquery-roving-tabindex
	url = https://github.com/ianmcburnie/jquery-roving-tabindex.git
[submodule "jquery-focusable"]
	path = jquery-focusable
	url = https://github.com/ianmcburnie/jquery-focusable.git
[submodule "jquery-active-descendant"]
	path = jquery-active-descendant
	url = https://github.com/ianmcburnie/jquery-active-descendant.git
[submodule "jquery-mouse-exit"]
	path = jquery-mouse-exit
	url = https://github.com/ianmcburnie/jquery-mouse-exit.git
[submodule "jquery-prevent-document-scroll-keys"]
	path = jquery-prevent-document-scroll-keys
	url = https://github.com/ianmcburnie/jquery-prevent-document-scroll-keys.git
[submodule "jquery-keyboard-trap"]
	path = jquery-keyboard-trap
	url = https://github.com/ianmcburnie/jquery-keyboard-trap.git
[submodule "jquery-screenreader-trap"]
	path = jquery-screenreader-trap
	url = https://github.com/ianmcburnie/jquery-screenreader-trap.git
[submodule "jquery-button-flyout"]
	path = jquery-button-flyout
	url = https://github.com/ianmcburnie/jquery-button-flyout.git
[submodule "jquery-link-flyout"]
	path = jquery-link-flyout
	url = https://github.com/ianmcburnie/jquery-link-flyout.git
