[submodule "core/jquery-next-id"]
	path = core/jquery-next-id
	url = https://github.com/ianmcburnie/jquery-next-id.git
[submodule "core/jquery-focus-exit"]
	path = core/jquery-focus-exit
	url = https://github.com/ianmcburnie/jquery-focus-exit.git
[submodule "core/jquery-common-keys"]
	path = core/jquery-common-keys
	url = https://github.com/ianmcburnie/jquery-common-keys.git
[submodule "core/jquery-roving-tabindex"]
	path = core/jquery-roving-tabindex
	url = https://github.com/ianmcburnie/jquery-roving-tabindex.git
[submodule "core/jquery-focusable"]
	path = core/jquery-focusable
	url = https://github.com/ianmcburnie/jquery-focusable.git
[submodule "core/jquery-active-descendant"]
	path = core/jquery-active-descendant
	url = https://github.com/ianmcburnie/jquery-active-descendant.git
